[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ip2location"]
	path = ip2location
	url = https://github.com/ip2location-com/ip2location-r
[submodule "ip2locationio"]
	path = ip2locationio
	url = https://github.com/cran/ip2locationio
[submodule "ip2proxy"]
	path = ip2proxy
	url = https://github.com/cran/ip2proxy
